#board {
  margin-top: 10px;
}

.boxer {
  /*border: 1px solid black;
  height: 150px;
  font-size: 50px;
  line-height: 3em;*/
  height: 160px;
  font-size: 75px;
  line-height: 2em;
}

.box-1 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.box-2 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.box-3 {
  border-bottom: 10px solid black;
}

.box-4 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.box-5 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.box-6 {
  border-bottom: 10px solid black;
}

.box-7 {
  border-right: 10px solid black;
}

.box-8 {
  border-right: 10px solid black;
}

